.mainContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-around;
}
.profilePic {
  height: 100px;
  width: 100px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f3f0ff;
  width: 1200px;
  padding: 35px;
  margin-right: 100px;
  border-radius: 25px;
}
.replyContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f3f0ff;
  width: 1000px;
  padding: 35px;
  margin-right: 100px;
  border-radius: 25px;
}
.header {
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
}
.postTitle {
  font-size: 36px;
  color: #1a1a22;
  font-family: "Montserrat", sans-serif;
}
.postDetails {
  font-size: 20px;
  color: #1a1a22;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  font-style: italic;
}
.time {
  font-size: 20px;
  color: #1a1a22;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  font-style: italic;
  align-self: flex-end;
}
.content {
  font-size: 34px;
  color: #1a1a22;
  font-family: "Montserrat", sans-serif;
}
