.container {
  display: flex;
  flex-direction: column;
  /* margin: 0 100px; */
  justify-content: center;
  align-items: flex-start;
  width: 1500px;
  margin-bottom: 100px;
}
.heading {
  font-size: 42px;
  color: #1a1a22;
}
.text {
  text-align: justify;
  font-size: 36px;
  width: 1500px;
}
.contactInfo {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  justify-content: space-evenly;
  margin-top: 50px;
}

.profile {
  width: 100px;
  align-self: center;
  justify-self: center;
}
.contactDetails {
  margin: 0 0 5px 20px;
  color: #3343ac;
  font-size: 24px;
  font-style: italic;
}
